body {
    display: flex;
    height: 100vh;
    background: #b3d4fc;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#parent {
    position: relative;
    background: #FF0;
    width: 80vw;
    height: 80vh;
}

#child {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: #099;
    top: 10rem;
    left: 10rem;
}

#child:hover {
    background: #0AA;
}
